<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="showSide"
    #drawer class="sidenav"
    fixedInViewport="true" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
     <mat-toolbar>
        <a routerLink="/dashboard" class="navbar-brand">
          Main Menu
        </a>
      </mat-toolbar>
     <mat-nav-list>
       <a mat-list-item routerLink="/teacherProfile">Profile Data</a>
       <a mat-list-item href="#">Link 2</a>
       <a mat-list-item href="#">Link 3</a>
     </mat-nav-list>
   </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div *ngIf="securityService.userSecurity.isAuthenticated">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleNav()">
              <!-- *ngIf="isHandset$ | async"
              this if we can add to the button to hide and show base on expand -->
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
      </div>
      
      <span class="Title">School Corss</span>
      <div>
        <button *ngIf="!securityService.userSecurity.isAuthenticated" class="loginButton" mat-stroked-button [matMenuTriggerFor]="menu">
          Log in
        </button>
        <button *ngIf="securityService.userSecurity.isAuthenticated" class="loginButton" mat-stroked-button (click)="logOut()">
            Log out
        </button>

        <mat-menu #menu="matMenu">
          <div class="loginArea">
            <div (click)="stopPropagation($event)">
              <div>
                <label for="userName">User ID:</label>
                <div class="input-group">
                  <input id="userName" name="userName" class="form-control" required autofocus="autofocus"
                    (keydown.Tab)="stopPropagation($event)" 
                    [(ngModel)]="user.userId"/>
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                  </span>
                </div>
              </div>
              <div>
                <label for="password">Password:</label>
                <div class="input-group">
                  <input id="password" 
                  name="password" 
                  class="form-control" 
                  required 
                  type="password" 
                  (keydown.Tab)="stopPropagation($event)" 
                  [(ngModel)]="user.password"/>
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                </div>
              </div>
            </div>
            <div>
              <button mat-stroked-button class="childloginButton" (click)="logIn()">
                Login
              </button>
            </div>
          </div>
        </mat-menu>

      </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
